/* CSS styles in the style.css file */

/* Reset some default styles */
body, h1, h2, p, ul, a {
    margin: 0;
    padding: 0;
}

/* Apply styles to the header */
header {
    background-color: #fff; /* 背景颜色设置为白色 */
    color: #333; /* 字体颜色设置为黑色 */
    text-align: center;
    padding: 20px 0;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 调整个人图片的放置风格 */
.profile-image-container {
    width: 100%;
    max-width: 200px; /* 限制图片的最大宽度，可以根据需要调整 */
    margin: 0 auto;
    padding-top: 150%; /* 3:4 比例图片的高度计算（4 / 3 * 100%） */
    position: relative;
    overflow: hidden;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 保持图片比例并填充容器 */
    position: absolute;
    top: 0;
    left: 0;
}

h1 {
    margin-top: 10px;
    font-size: 24px;
}

nav ul {
    list-style: none;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333; /* 导航链接颜色设置为黑色 */
    font-weight: bold;
    font-size: 18px;
}

/* Apply styles to the main content */
main {
    background-color: #f7f7f7;
    padding: 20px;
}

.section-container {
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    margin-top: 20px;
    color: #333;
    font-size: 20px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

ul {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

ul li {
    margin-bottom: 10px;
}

a {
    color: #007acc;
}

/* Apply styles to the footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}
